/* SalesForce WordPress to Lead Default CSS */

.salesforce_w2l_lead form.w2llead{ text-align:left; clear:both;}
.salesforce_w2l_lead #salesforce{ margin: .25em 0 0 0; color: #aaa; }
.salesforce_w2l_lead #salesforce a{ color: #999; }

.salesforce_w2l_lead .w2llabel, .w2linput { display:block; float:left; box-sizing: border-box; }
.salesforce_w2l_lead .w2llabel.error { color:#f00; }
.salesforce_w2l_lead .w2llabel { clear:left; margin:.25em 0; width:50%; }
.salesforce_w2l_lead .w2linput.text{ width:50%; height:auto; margin:.25em 0; }
.salesforce_w2l_lead .w2linput.textarea { width:100%; height:6em; margin:.75em 0;}
.salesforce_w2l_lead .w2lsubmit{ float:none; clear:both; }
.salesforce_w2l_lead .w2linput.submit { float:none; margin: .75em 0 0 0; clear:both;}
.salesforce_w2l_lead .w2llabel.checkbox,
.salesforce_w2l_lead .w2linput.checkbox{ display: inline-block; float: none; }
.salesforce_w2l_lead .sf_type_checkbox input{ width: 1.25em; }

.salesforce_w2l_lead .w2llabel.checkbox{ clear: none; margin: 0; }
.salesforce_w2l_lead .w2linput.textarea, .salesforce_w2l_lead .w2linput.text { font-size: inherit; }

.salesforce_w2l_lead .top-aligned .w2linput{
	clear: left;
}

.salesforce_w2l_lead .top-aligned .w2llabel{
	width: 100%;
}

.salesforce_w2l_lead .left-aligned .w2llabel{
	width: 25%;
}

.salesforce_w2l_lead .left-aligned .w2linput.text, .salesforce_w2l_lead .left-aligned .w2linput.textarea{
	width: 75%;
}

.salesforce_w2l_lead .placeholders .w2linput{
}

.salesforce_w2l_lead .w2linput.text.captcha{ width: 160px; float: left; clear: none; }
.salesforce_w2l_lead .w2limg{ display: block; clear: both; float: left;}
.salesforce_w2l_lead .required { font-weight: bold; color: inherit; }
.salesforce_w2l_lead span.required { color: red; }

.salesforce_w2l_lead .left-aligned .w2limg{
	float: left;
	clear: none;
}

.salesforce_w2l_lead .w2linput.text.captcha{
	height: 75px;
	margin: 0 0 0 .5em;
	font-size: 2.5em;
	font-family: 'Times New Yorker', serif;
	text-align: center;
}

.salesforce_w2l_lead .sf_cc_user{
	padding: 1em 0;
}

.sidebar .w2linput, #sidebar .w2llabel{ float:none; display:inline; }
.sidebar .w2llabel.error { color:#f00; }
.sidebar .w2llabel { margin:.25em 0; float:none; display:inline; }
.sidebar .w2linput.text{ width:95%; height:auto; margin:.25em 0;}
.sidebar .w2linput.textarea {width:95%; height:4em; margin:.25em 0;}
.sidebar .w2lsubmit{ float:none; clear:both; }
.sidebar .w2linput.submit { margin:.25em 0 0 0; }

.sidebar .sf_type_captcha{
	text-align: center;
}

.sidebar .sf_type_captcha .w2llabel{
	padding: .5em 0;
	display: inline-block;
	width: 100%;
}

.sidebar .w2linput.text.captcha, .sidebar .w2limg{
	float: none;
	display: inline-block;
}

.sidebar .w2linput.text.captcha{
	margin: .25em 0 0 0;
	height: auto;
	font-size: 1em;
}

.salesforce_w2l_lead .sf_field, .sf_type_checkbox{ clear: both; }
.salesforce_w2l_lead .sf_field span.error_message{ clear: left; display: block; color: red; font-size: 80%; }

.salesforce_w2l_lead .clearfix{ clear: both; }