/* SalesForce WordPress to Lead Default CSS */

form.w2llead{ text-align:left; clear:both;}
.w2llabel, .w2linput { display:block; float:left; }
.w2llabel.error { color:#f00; }
.w2llabel { clear:left; margin:4px 0; width:50%; }
.w2linput.text{ width:50%; height:18px; margin:4px 0; }
.w2linput.textarea { clear:both; width:100%; height:75px; margin:10px 0;}
.w2lsubmit{ float:none; clear:both; }
.w2linput.submit { float:none; margin: 10px 0 0 0; clear:both;}

.w2llabel.checkbox, .w2linput.checkbox{ display: inline-block; float: none; }
.sf_field, .sf_type_checkbox{ clear: both; }
.w2llabel.checkbox{ clear: none; margin: 0; }

.w2limg{ display: block; clear: both; }
#salesforce{ margin:3px 0 0 0; color:#aaa; }
#salesforce a{ color:#999; }
span.required { font-weight: bold; }

.sidebar .w2linput, #sidebar .w2llabel{ float:none; display:inline; }
.sidebar .w2llabel.error { color:#f00; }
.sidebar .w2llabel { margin:4px 0; float:none; display:inline; }
.sidebar .w2linput.text{ width:95%; height:18px; margin:4px 0;}
.sidebar .w2linput.textarea {width:95%; height:50px; margin:10px 0;}
.sidebar .w2lsubmit{ float:none; clear:both; }
.sidebar .w2linput.submit { margin:10px 0 0 0; }